<div id="cookie-notice" role="alert">
    <span>By accepting cookies you are consenting to additional analytics cookies for measuring engagement and traffic to this website.</span>
    <button type="button" id="cookie-notice-accept" class="btn btn-primary btn-sm">Accept</button>
</div>

<script>
    if (readCookie('cookie-notice-dismissed') == 'true') {
        document.getElementById('cookie-notice').style.display = 'none'; 
    }
    else {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    
    document.getElementById('cookie-notice-accept').addEventListener("click", function() {
        createCookie('cookie-notice-dismissed','true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });
</script>