<footer class="footer border-top border-gray-light mt-5 pt-3 text-gray">
    <p>
        The <a href="https://www.virginmedia.com/corporate/media-centre/media-gallery/virgin-media-logo-red" target="_blank">Virgin Media corporate logo</a> is a trademark of Virgin Media which is a subsidiary of Liberty Global plc.<br>
        <small>Obviously this website is not affiliated with Virgin Media in any way and does not present the official views of Virgin Media or Liberty Global.</small>
    </p>
</footer>