<header>
    <div class="text-center">
        <img src="{{ "assets/images/vm-b-logo-red-cmyk-reg.png?v=" | append: site.github.build_revision | relative_url }}" alt="Virgin Media logo" width="250">

        <h1 class="border-bottom-0">Have Virgin Media enabled IPv6 yet?</h1>
        <p class="h2">Answer: <span class="text-uppercase text-red">No 😢</span></p>

        <p>We've been asking since March 2010... We think it's time!</p>

        <a href="{{ site.change_org_petition_url }}" target="_blank" class="btn btn-large"
           aria-label="Sign the IPv6 petition on Change.org">
            Sign the petition
        </a>

        <a href="{{ site.twitter_sharer_url }}" target="_blank" class="btn btn-large btn-blue"
           aria-label="Tweet @virginmedia and tell them what you think about the lack of IPv6!">
            Tweet them!
        </a>
        <hr aria-hidden="true">
    </div>
</header>