<header>
    <div class="text-center">
        <img src="{{ "assets/images/vm-b-logo-red-cmyk-reg.png" | relative_url }}" alt="Virgin Media logo" width="250">

        <p class="h1 text-center type-size-1">Have Virgin Media enabled IPv6 yet?</p>
        <p class="h2">Answer: <span style="color: red;">NO 😢</span></p>

        <p>We've been asking since March 2010... We think it's time!</p>

        <a href="{{ site.change_org_petition_url }}" target="_blank" class="btn">Sign the petition</a>
        <a href="{{ site.twitter_sharer_url }}" target="_blank" class="btn btn-blue">Tweet them!</a>
        <hr>
    </div>
</header>