a {
  text-decoration: underline;

  &.btn {
    text-decoration: none;
  }
}

.btn {
  display: block;

  @include breakpoint(md) {
    display: inline-block;
  }
}

#cookie-notice {
  padding: 0.5rem 1rem; 
  text-align: center; 
  display: none;
  position: fixed; bottom: 0; 
  width: 100%; 
  background: #222; 
  color: rgba(255,255,255,0.8);

 button {
  display: inline-block; 
  cursor: pointer; 
  margin-left: 0.5rem;
}
}

@media (max-width: 767px) {
  #cookie-notice span {
    display: block; 
    padding-top: 3px; 
    margin-bottom: 1rem;
  }

  #cookie-notice button {
    position: relative; 
    bottom: 4px;
  }
}